@import url(reset.css);
[class*="__conteiner"]{
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.vence__conteiner {
    background-image: url(../img/unsplash_WgMDQsn36w4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vence__text-block {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 166.666667%; /* 20/12 */
    font-weight: 300;
    color: #E5E5E5;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 330px;
    padding-bottom: 100px;
}
.vence__text-block p:first-child{
    margin-bottom: 15px;
}
h1{
    color: #F8F9FA;
    font-size: 25px;
    line-height: 160%; /* 40/25 */
    font-weight: 700;
    margin-bottom: 15px;
}
.tailgrid__text-block{
    max-width: 1051px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    background-image: url(../img/speaker1.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-top: 145px;
    padding-bottom: 145px;
}
.tailgrid__text-block p:first-child{
    color: #3056D3;
    font-weight: 600;
    font-size: 18px;
    line-height: 133.333333%; /* 24/18 */
    margin-bottom: 13px;
}
.tailgrid__text-block h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 125%; /* 45/36 */
    color: #212B36;
    margin-bottom: 15px;
}
.tailgrid__text-block p{
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    font-weight: 500;
    color: #637381;
    max-width: 570px;
    margin-bottom: 35px;
}
.tailgrid__text-block a{
    background-color: #3056D3;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
}
.tailgrid__text-block a:hover{
    color: #3056D3;
    background-color: #FFFFFF;
    padding: 8px 28px;
    border: 2px solid #3056d3;
}
.unorder__text-block {
    max-width: 1175px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
[class*="__list"]{
    color: #637381;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 100%; /* 16/16 */
    font-weight: 700;
    padding-bottom: 60px;
}
.unorder__text-block ul,li{
    margin-bottom: 20px;
}
.unorder__text-block ul:last-of-type{
    padding-bottom: 0px;
}
.unorder__text-block h2{
    padding-bottom: 45px;
    font-size: 26px;
    line-height: 107.692308%; /* 28/26 */
    font-weight: 400;
    color: #212B36;
}
.one__list li::before {
    content:"";
    display: inline-block;
    background-image: url(../img/icon/dot.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
}
.two__list li::before {
    content: "";
    display: inline-block;
    background-image: url(../img/icon/star.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.three__list li::before{
    content: "";
    display: inline-block;
    background-image: url(../img/icon/cross.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.four__list li::before {
    content: "";
    display: inline-block;
    background-image: url(../img/icon/arrow.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    width: 22px;
    height: 10px;
}

